---
import Layout from '@layouts/Layout.astro';
import { Post } from '@lib/blog.ts';
import BlogPostPreview from '@components/BlogPostPreview.astro';

const allPosts = await Astro.glob('./*.md');
const posts: Post[] = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<Layout title="Blog">
	<ul>
		{posts.map(post => <li><BlogPostPreview post={post} /></li>)}
	<ul>
</Layout>
