---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Home'>
	<h2 class="mt-16 font-semibold text-2xl">Software Engineer</h2>
  <ul class="ml-8 list-disc text-xl">
		<li>Golang</li>
		<li>Typescript</li>
		<li>Neovim</li>
		<li>Linux</li>
	</ul>
</Layout>
