---
import Link from '../components/Link.astro';
---

<header class='mb-8 flex flex-col items-end'>
  <a href='/'>
    <h1 class='text-5xl font-brand font-bold'>
      itmecho
    </h1>
  </a>
  <nav class='mt-4 flex text-xl'>
    <Link href='/blog'>Blog</Link>
  </nav>
</header>
