---
import cx from '@lib/cx.ts';

export interface Props {
  href: string;
  classes?: string[];
  external?: bool;
	rel?: string;
}

const { classes = [], href, external = false, rel = undefined } = Astro.props;
---

<a
  href={href}
  class={cx(
    'text-emerald-500 hover:text-emerald-300 hover:fill-emerald-500 duration-150',
    ...classes
  )}
  target={external ? '_blank' : '_self'}
	rel={rel}
>
  <slot></slot>
</a>
