---
import Layout from '@layouts/Layout.astro';
import BlogPostList from '@components/BlogPostList.astro';
import Tag from '@components/Tag.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../*.mdx');
  const tags = allPosts
    .filter((p) => !!p.frontmatter.tags)
    .reduce((acc, tags) => acc.concat(tags.frontmatter.tags), []);

  return tags.map((tag) => ({
    params: {
      tag,
    },
  }));
}

const allPosts = await Astro.glob('../*.mdx');
const { tag } = Astro.params;
const posts = allPosts.filter((p) => p.frontmatter.tags?.includes(tag));
---

<Layout title={`${tag} posts`}>
  <h1 class='flex items-center text-3xl font-semibold mr-2 mb-12'>
    <span>Posts with the</span>
    <Tag classes='mx-2' disableHover tag={tag} />
    <span> tag</span>
  </h1>
  <BlogPostList posts={posts} />
</Layout>
